<!DOCTYPE html>
<html>
<head>
  <title>Simple Form</title>
</head>
<body>
  <div ng-controller="formController">
    <form novalidate class="simple-form">
      Name: <input type="text" ng-model="user.name"><br />
      E-mail: <input type="text" ng-model="user.email"> <br />
      <input type="radio" ng-model="user.gender" value="male">male
      <input type="radio" ng-model="user.gender" value="female">female <br />
      <input type="button" ng-click="reset()" value="Reset">
      <input type="button" ng-click="update(user)" value="submit">
    </form>
    <pre>user = {user | json}</pre>
  </div>

<script type="text/javascript">


</script>
</body>
</html>